.row{
    padding: 20px;
    background: -prefix-linear-gradient(left, rgb(0, 0, 0), rgb(26, 6, 20));
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(26, 6, 20));
}
div{
    text-align: center;
    color: rgba(255, 250, 254, 0.767);
}
@media (min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 16%;
        border-radius: 100%;
        box-shadow: 10px 10px 10px rgb(172, 2, 172);
        left: 1rem;
        top:78%;
        bottom: 90%;
    }
}
@media (max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 10px 10px 10px rgb(172, 2, 172);
        right: 1rem;
        top: 33%;
        margin-top: 12rem;
    }
}
.presentacion{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
    font-size: 22px;
}
#acercade{
    font-size: 80px;
}
