.row{
    text-align: left;
    padding: 50px;
}
div{
    background: -prefix-linear-gradient(left, rgb(0, 0, 0), rgb(26, 6, 20));
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(26, 6, 20));
    color: rgba(255, 250, 254, 0.767);
}
#experiencia{
    text-align: center;
}
.trabajos{
    margin-left: 2rem;
}
h1,h3{
    display: inline;
}