<div class="row">
    <h1 id="experiencia">Experiencia Laboral</h1>
    <div class="col-lg-11"></div>
    <ul>
        <li>
            <h1 class="capacitacion">Estudio 1 </h1><h3> (years)</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis possimus impedit doloremque est dolore hic ipsa rem ex corporis consequuntur perferendis, nostrum, quis nisi distinctio sed dicta deserunt. Quia, illum.</p>
        </li>
        <li>
            <h1 class="capacitacion">Estudio 2 </h1><h3> (years)</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis possimus impedit doloremque est dolore hic ipsa rem ex corporis consequuntur perferendis, nostrum, quis nisi distinctio sed dicta deserunt. Quia, illum.</p>
        </li>
            <li>
            <h1 class="capacitacion">Estudio 3 </h1><h3> (years)</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis possimus impedit doloremque est dolore hic ipsa rem ex corporis consequuntur perferendis, nostrum, quis nisi distinctio sed dicta deserunt. Quia, illum.</p>
        </li>
    </ul>
</div>
