<div>  
  <div class="row">
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="120"
        [showUnits]="false"
        [backgroundColor]="'#FFCA28'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/javascript.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#FFCA28'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="130"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#FFCA28'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/bootstrap-logo-black.svg'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#FFCA28'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <h1>Hard y Soft</h1>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/colaborativo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#5DADE2'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/habla.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#5DADE2'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="8"
        [radius]="100"
        [imageSrc]="'../assets/ideas.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="100"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#5DADE2'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
    <div class= "text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/empatia.png'"
        [showImage]="true"
        [imageHeight]="130"
        [imageWidth]="130"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundColor]="'#5DADE2'"
        [outerStrokeColor]="'#4A235A'"
        [innerStrokeColor]="'#1d0719'"
        [animation]="true"
        [animationDuration]="3000"
      ></circle-progress>
    </div>
  </div>
</div>
